node_modules/
package-lock.json
yarn.lock

dist/

.tsbuildinfo

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.local
.env.development
.env.test
.env.production

.vscode/
.idea/
*.sublime-workspace
*.sublime-project

.husky/_/

*.tmp
*.swp

generated/prisma/

src/generated/prisma/

init/